<!DOCTYPE html>
<!DOCTYPE html>
<html lang="en" dir="ltr">

<head>
  <meta charset="utf-8">
  <title>Twitter</title>
  <link rel="stylesheet" type="text/css" href="../static/css/main.css">

</head>

<body>
  <h1>Twitter</h1>
  <h3>Timeline</h3>
  <form method="get" action="/timeline">
    <section>
      <input type="submit" value="get home timeline" id="get button" class="button">
      {% for tweet in tweets_from_timeline %}
      <ul>
        <li>{{ tweet.text}}</li>
      </ul>
      {% endfor %}
  </form>
  <h3>Tweet Something</h3>
  <<form method="post" action="/tweet">
    <section>
      <input type="text" id="tweet" class="box" name="Tweet" placeholder="whats happening">
      <br>
      <input type="submit" value="Tweet" id="post_button" class="button">
      {% if response %}
      <ul>
        <li>{{ response }}</li>
      </ul>
      {% endif %}
      </form>
</body>

</html>
